<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body style="background-color:pink;">

    <li><a href="df_order/order.html/" log="type:3100,menu:6" rel="nofollow">点击此处跳转到order</a></li>

    https://github.com/Yang-Juan-2018/bookstore
    <button>flowpredict</button>



    <a href="http://www.baidu.com/">点击此处跳转到百度</a>


    <!-- 以下方式只是刷新不跳转到其他页面 -->
    <meta http-equiv="refresh" content="10">
    <!-- 以下方式定时转到其他页面 -->
    <meta http-equiv="refresh" onclick="hello;url=order.html">

   <h2 style="background-color:red;">test1页面</h2>
    <p>
        一个图像:<img src="static/2.jpg" alt="Smiley face" width="102" height="102">
    </p>
    <p style="background-color:blue;">记得删除跳转</p>


</body>
</html>